<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STRIVE STUDENT PROFILE</title>
</head>

<body>
  <div class="container">
    <h1>STRIVE STUDENT PROFILE</h1>
    <div class="row">
      <h2 class="mb-1 ml-3 mt-5"><%= student.title %> <%= student.surname %></h2>
    </div>
    <div class="row">
      <h5 class="mb-1 ml-3 mt-2"><%= student.profession %></h5>
      <i>
        <h5 class="mb-0 ml-2 mt-2" style="color:  rgb(102, 102, 102)">from</h5>
      </i>
      <h5 class="mb-1 ml-1 mt-2"><%= student.state %></h5>
    </div>
    <a href="" style="color: rgb(100, 100, 100)"><%= student.email %></a>
    <div class="text-muted mb-2">
      <%= student.createdAt.toLocaleDateString() %>
    </div>
    <div>
      <h5>About</h5>
      <%- student.sanitizedHtml %>
    </div>
    <a href="/" class="btn btn-secondary">All students</a>
    <a href="/students/edit/<%= student.id %>" class="btn btn-info">Edit</a>
  </div>
</body>

</html>
